<app-if></app-if>

<div class="row">
    <h2>This just loop over array</h2>
    <div *ngFor="let myele of [1,2,3]" class="card col m-3">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title {{myele}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>


<div class="row">
    <h2>This loop is Array of objects</h2>
    <div *ngFor="let myele of listItem" class="card col m-3">
        <span *ngIf=" myele.title === 'Grapes'">Very Tasty</span>
        <img src="{{myele.image}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{myele.title}}</h5>
            <p class="card-text">{{myele.content}}</p>
            <a target="_blank" href="{{myele.link}}" class="btn btn-primary">{{myele.btnText}}</a>
        </div>
    </div>
</div>